<!-- landing-page.component.html -->
<div class="page">
  <!-- Elementos decorativos -->
  <div class="circle circle--top-lg">
    <svg width="300" height="300" fill="none" class="opacity-20">
      <circle cx="150" cy="150" r="150" fill="#60A5FA"/>
    </svg>
  </div>
  <div class="circle circle--button-lg">
    <svg width="250" height="250" fill="none" class="opacity-20">
      <circle cx="125" cy="125" r="125" fill="#4338CA"/>
    </svg>
  </div>

  <!-- Contenedor de contenido principal -->
  <div class="section section--landing">
    <h1 class="section__title">Bienvenido al Sistema de Onboarding Digital</h1>
    <p class="section__content">
      Regístrate para comenzar tu experiencia o inicia sesión si ya tienes cuenta.
    </p>
    <div class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0 mt-6">
      <a routerLink="/register" class="w-full">
        <button class="button">
          Crear cuenta
        </button>
      </a>
      <a routerLink="/login" class="w-full">
        <button class="button button--secondary">
          Iniciar sesión
        </button>
      </a>
    </div>
  </div>
</div>
